---
- name: Deploy application into EKS cluster
  hosts: appserver
  gather_facts: no
  become: yes

  tasks:

    - name: Copy Kubernetes deployment file to app server
      copy:
        src: "{{ playbook_dir }}/k8s_deployment.yaml"
        dest: /home/ec2-user/k8s_deployment.yaml
        mode: '0644'

    - name: Check if kubeconfig exists on remote host
      stat:
        path: /home/ec2-user/.kube/config
      register: kubeconfig_stat

    - name: Copy kubeconfig to target if missing
      copy:
        src: "{{ playbook_dir }}/kubeconfig"
        dest: /home/ec2-user/.kube/config
        mode: '0600'
        owner: ec2-user
      when: not kubeconfig_stat.stat.exists

    - name: Apply Kubernetes deployment
      shell: kubectl apply -f /home/ec2-user/k8s_deployment.yaml
      become: yes
      become_user: ec2-user
      environment:
        KUBECONFIG: /home/ec2-user/.kube/config
        PATH: "/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
